<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <!-- <h5 class="white-text">Lucid Programmer</h5> -->
        <p class="grey-text text-lighten-4">Thought is the language, impossible is nothing</p>
      </div>
      <div class="col l6 s12">
        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
        <ul>
          <li><a class="light-blue-text" href="https://github.com/lucidprogrammer">Git</a></li>
          <!-- <li><a class="white-text" href="https://twitter.com/entrthecrucible">Follow us on Twitter</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">by <a class="orange-text text-lighten-3" href="https://github.com/lucidprogrammer">lucidprogrammer</a>
    </div>
  </div>
</footer>
